spring:
  application:
    name: user-service

  datasource:
    url: jdbc:postgresql://localhost:5432/sofkify_users
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 300000
      max-lifetime: 1200000

  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
          format_sql: true

  server:
    port: 8081
    servlet:
      context-path: /api

logging:
  level:
    com.sofkify.userservice: DEBUG
    org.hibernate.SQL: DEBUG
    org.springframework.web: DEBUG
